/Talleres/Proyecto1/nbproject/private/
/Talleres/Proyecto1/build/
/Proyecto/Proyecto2/nbproject/private/
/Proyecto/Proyecto2/build/
/Proyecto/Proyecto3/nbproject/private/
/Proyecto/Proyecto3/build/
/Talleres/TallerArchivosCap7/nbproject/private/